body, html {
  margin: 0;
  font: bold 16px/1.3 'Open Sans', arial, sans-serif;
  background: white;
}
  
html {
  cursor: url("../../images/iconnew.png"), auto;
}
  
ul { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  position: fixed;
  text-align: center;
  padding: 10px 0;
}
  
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
  
#logoo {
  position: fixed; 
  top: 3px;
  left: 10px;
  padding: 10px 0;
  z-index: 2;
}
  
a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
}
  
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
  
a:hover:after { 
  width: 100%; 
  left: 0; 
}
  
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
  
header {
text-align: center;
justify-content: center;
position: fixed;
top: 50px;
width: 100%;
}
  
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
  
footer .social-icons {
  position: absolute;
  left: 10px;
  display: flex;
  gap: 10px;
}
  
footer img {
  width: 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 85vh;
  width: 100%; 
  top: 150px;
}
  
.container .card {
  position: relative;
  max-width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  top: -80px;
}
  
.container .card:hover {
  height: 400px;
}

.container .card .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20%;
}

.container .card .image img {
  max-width: 100%;
  border-radius: 15px;
}
  
.container .card .content {
  position: relative;
  top: -200px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}


.container .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
  