*, *:after, *:before {
  box-sizing: border-box;
}

html {
  cursor: url("../../images/iconnew.png"), auto;
}

:root {
  --gap: 1rem;
  --card-width: clamp(280px, 20vw, 100vw);
  --card-aspect-ratio: 5 / 7;
  --card-height: calc(var(--card-width) * (7 / 5));
}

body {
  display: grid;
  place-items: center;
  font-family: 'Google Sans', sans-serif, system-ui;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, var(--card-width));
  gap: 1rem;
  overflow: hidden;
}

.column {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.column:not(:nth-of-type(3)) {
  -webkit-animation: scale 1s linear both;
  animation: scale 1s linear both;
  animation-timeline: scroll(root);
}

.column:is(:nth-of-type(2), :nth-of-type(4)) {
  --origin: calc(var(--gap) * -1);
  --destination: calc(var(--card-height) * 1.5 + var(--gap));
}

.column:is(:nth-of-type(1), :nth-of-type(5)) {
  --origin: calc(var(--gap) * -2);
  --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@-webkit-keyframes scale {
  0% {
    transform: translateY(var(--origin, 0%));
  }
  100% {
    transform: translateY(var(--destination, -50%));
  }
}

@keyframes scale {
  0% {
    transform: translateY(var(--origin, 0%));
  }
  100% {
    transform: translateY(var(--destination, -50%));
  }
}

img {
  max-width: 100%;
  border: 0;
  padding: 0;
  max-height: 100%;
  aspect-ratio: 5 / 7;
  background: hsl(0 0% 80%);
}

header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  right: -1px;
  left: -0.5px;
}

header .logo {
  width: 180px;
  height: 50px;
  margin-left: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

header a:hover {
  color: #ccc;
}

header.centered-nav a {
  text-align: center;
}

.center-card {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card {
  text-align: center;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #333;
}

.container {
  max-width: 400px;
  overflow: hidden;
  padding: 0;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img__container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.content {
  display: grid;
  place-items: center;
  padding: 0 2em;
  margin-bottom: 1.8em;
}

.mail {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 3;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

textarea.textarea, 
input.mail {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 1em;
}

.input-field {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.subtitle {
  text-align: left;
  width: 100%;
  margin-bottom: 0.5em;
}

button a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  display: inline-block;
  border: none;
  box-shadow: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

button {
  font-family: "Fredoka", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 13px 60px;
  border-radius: 25px;
  color: white;
  border: 0;
  outline: none;
  background-color: black;
  transition: ease all 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 17px 34px -20px #414141;
  transform: translateY(-3px);
  background-color: gray;
}

button:active {
  transform: scale(0.9);
  box-shadow: inset -1px -1px 3px rgba(122, 196, 125, 0.3);
}
