.wrapper {
  min-height: 100vh;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background-color: #e6e6e6;
  display: grid;
  place-items: center;
}

html {
  cursor: url("../../images/iconnew.png"), auto;
}

.container {
  background-color: #fff;
  padding: 0.8em 1.2em;
  border-radius: 1em;
  max-width: 768px;
  display: grid;
  place-items: center;
  box-shadow: 0px 17px 34px -20px #2f2e2e;
  overflow: hidden;
  margin: 40px;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.text {
  font-size: 1rem;
  margin-bottom: 0.8em;
    text-align: center;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
  transform: translateY(-50%);
}


.img__container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.content {
  display: grid;
  place-items: center;
  padding: 0 2em;
  margin-bottom: 1.8em;
}

.mail {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 3;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

input::placeholder, textarea::placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder,::-ms-input-placeholder {
  color: #111127;
}


.card button {
  font-family: "Fredoka", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 80px;
  border-radius: 25px;
  color: white;
  border: 0;
  margin: 30px 0;
  outline: none;
  background-color: #81c784;
  box-shadow: 10px 10px 10px rgba(122, 196, 125, 0.2), -10px -10px 10px rgba(136, 202, 139, 0.2);
  transition: ease all 0.3s;
  cursor: pointer;
}
.card button:hover {
  box-shadow: 20px 20px 20px rgba(122, 196, 125, 0.1), -20px -20px 20px rgba(136, 202, 139, 0.1);
  transform: translateY(-3px);
}
.card button:active {
  transform: scale(0.9);
  box-shadow: inset -1px -1px 3px rgba(122, 196, 125, 0.3), -20px -20px 20px rgba(136, 202, 139, 0);
}

button.send, input[type="submit"].send, input[type="reset"].send {
  color: white;
  background-color: black;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

button.send:hover, input[type="submit"].send:hover, input[type="reset"].send:hover {
  background-color: gray;
  transform: scale(1.05);
}

button.send:active, input[type="submit"].send:active, input[type="reset"].send:active {
  background-color: darkgray;
  transform: scale(0.95);
}

textarea.textarea,input.mail {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1.5em;
}

.input-field {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.content {
  width: 100%;
  margin-bottom: 1.8em;
  padding: 0px 2em;
}

input::placeholder, textarea::placeholder {
  color: #808080;
}

.subtitle {
  text-align: left;
  width: 100%;
  margin-bottom: 0.5em;
}

button a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
  background-color: #fff;
  appearance: none;
}

ul { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  position: fixed;
  padding: 10px 0;
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

#logoo {
  position: fixed; 
  top: 3px;
  left: 10px;
  padding: 10px 0;
  z-index: 1;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
