* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  cursor: url("../../images/iconnew.png"), auto;
}

body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  box-shadow: 0 0 25px rgb(51, 49, 48), 0 0 50px rgba(30, 30, 29, 0.7);
  background-color: #ffffff;
  overflow: hidden;

}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

img{
  margin: -2px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  transform: scale(1.1);
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  transform: scale(1.1);
}

.btn {
  padding: 20px 40px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #7c7c7c;
  box-shadow: 0 0 25px rgb(51, 49, 48), 0 0 50px rgba(30, 30, 29, 0.7);
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.95);
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:gray;
}
